<h1>creations index</h1>
<div class="main-container">
  <div style="height: 300px; background-color: red">
  </div>

  <div class="recherche">
    <%= form_tag creations_path, method: :get do %>
      <%= text_field_tag :query_long,
                      params[:query_long],
                      class: "form-control",
                      placeholder: "longueur"%>
      <%= text_field_tag :query_larg,
                      params[:query_larg],
                      class: "form-control",
                      placeholder: "largeur"%>
      <%= submit_tag "Search", class: "btn" %>
      <%# raise %>
    <% end %>
  </div>

  <div class="mygrid-3">
    <% creations_ids = [] %>
    <% if params[:query_long] && params[:query_larg] && params[:query_long] != "" && params[:query_larg] != "" %>
      <% @creations.each do |creation| %>
        <% creations_ids << creation.id %>
      <% end %>
    <% end %>
    <% @creations.each do |creation| %>

    <%= render 'shared/card', creation: creation %>
    <% end %>

  </div>
</div>
