
<h1>creations index</h1>
<div class="main-container">
  <div style="height:300px; background-image: url('app/assets/images/materiel-de-couture-indispensable.jpg')">
  <%# <%= image_tag "materiel-de-couture-indispensable", class: "", size: %>

  </div>


  <div class="recherche">
    <div class="form-recherche">
      <div class="titres">
        <h2>Bienvenue sur notre</h2>
        <h1>Outil de recherche</h1>
      </div>
      <p>Entrez les dimensions de votre chute en cm</p>

      <div class="recherche">
        <%= form_tag creations_path, method: :get do %>
          <%= text_field_tag :query_long,
                          params[:query_long],
                          class: "form-control mb-4",
                          id: "long",
                          placeholder: "longueur" %>
          <%= text_field_tag :query_larg,
                          params[:query_larg],
                          class: "form-control mb-4",
                          id: "larg",
                          placeholder: "largeur" %>
          <%= submit_tag "Rechercher", class: "btn-recherche mt-4" %>
        <% end %>
      </div>
    </div>
    <div class="visual">
      <div class="longueur">
        <h2>longueur</h2>
      </div>
      <div class="largeur">
        <h2>l</h2>
        <h2>a</h2>
        <h2>r</h2>
        <h2>g</h2>
        <h2>e</h2>
        <h2>u</h2>
        <h2>r</h2>
      </div>
      <div class="rectangle">
        <% if params[:query_long] && params[:query_larg] && params[:query_long] != "" && params[:query_larg] != "" %>
          <div id="longueur">
            <h3><%= params[:query_long] %></h3>
          </div>
          <%# (0...(3 - params[:query_larg].length)).each do |i| %>
            <%# <br> %>
          <%# end %>
          <div id="largeur">
            <h3><%= params[:query_larg] %></h3>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-container">
    <%# <div class="mygrid-3"> %>
      <% creations_ids = [] %>
      <% if params[:query_long] && params[:query_larg] && params[:query_long] != "" && params[:query_larg] != "" %>
        <% @creations.each do |creation| %>
          <% creations_ids << creation.id %>
        <% end %>
      <% end %>
      <% if @creations == [] %>
        <h1>No match found</h1>
      <% else %>
        <% @creations.each do |creation| %>
          <%= link_to creation_path(creation, :creations_ids => creations_ids, :query_long => params[:query_long], :query_larg => params[:query_larg]) do %>
            <%= render 'shared/card', creation: creation %>
          <% end %>
        <% end %>
      <% end %>
    <%# </div> %>
  </div>
</div>
