<div class="main-container">
<div class="picture-container">
</div>

<div class="mygrid">

  <div>
  <h2>Materials needed</h2>
  <p><%= @creation.name %></p>
  <p><%= @creation.time %></p>
  </div>

    <div>
  <h2>Materials needed</h2>
  <p><%= @creation.name %></p>
  </div>

  <div>
  <h2>Materials needed</h2>
  <p><%= @creation.name %></p>
  </div>

    <div>
  <h2>Materials needed</h2>
  <p><%= @creation.name %></p>
  </div>

  <div>
  <h2>Materials needed</h2>
  <p><%= @creation.name %></p>
  </div>

    <div>
  <h2>Materials needed</h2>
  <p><%= @creation.name %></p>
  </div>


</div>
</div>