<div class="main-container">
  <div class="picture-container">
  </div>

  <div class="mygrid">

    <div>
      <h2>Materials needed</h2>
      <p><%= @creation.name %></p>
      <p><%= @creation.time %></p>
    </div>

    <div>
      <h2>Materials needed</h2>
      <p><%= @creation.name %></p>
    </div>

    <div>
      <h2>Materials needed</h2>
      <p><%= @creation.name %></p>
    </div>

    <div>
      <h2>Materials needed</h2>
      <p><%= @creation.name %></p>
    </div>

    <div>
      <h2>Materials needed</h2>
      <p><%= @creation.name %></p>
    </div>

    <div>
      <h2>Materials needed</h2>
      <p><%= @creation.name %></p>
    </div>

  </div>

  <div>
    <%# passer les differents liens dans les models, mettre les pdf dans les assets/images et remplacer par @creation.pdf_path %>
    <%= link_to "My PDF", asset_path("Tutoriel-de-Louise-chouchou-noeud-texte-patron.pdf"), target: :_blank %>
  </div>

  <div>
    <% @creations.each do |creation| %>
      <% if creation.id != @creation.id %>
        <%# alors ça ça devra être une card de creation %>
        <%= creation.name %>
        <br>
      <% end %>
    <% end %>
  </div>

  <%= link_to "Back to Index", creations_path(:query_long => params[:query_long], :query_larg => params[:query_larg]) %>
</div>
