<div class="main-container">
  <div class="picture-container">
  </div>

  <div class="title">
  <h1><%= @creation.name %></h1>
  <p>Temps de réalisation: <%= @creation.time %>Heure(s)</p>
  </div>

  <div class="patron">
    <div class="mon-bouton-recherche">
      <%= link_to "Télécharger patron", asset_path(@creation.patron_link), target: :_blank %>
    </div>
  </div>

  <div class="tag-description">
    <div class="engloble-tag">
      <p style="text-decoration:none;"><%= @creation.tagline %></p>
      <p style="text-decoration:none;"><%= @creation.description %></p>
    </div>
  </div>

  <div class="display-img-show">
    <% @creation.photos.first(4).each do |photo| %>
      <%= cl_image_tag photo.key, height: 450, width: 450, crop: :fill, class: "item"  %>
    <% end %>
  </div>

    <div style="margin-left: 90%">


    </div>
  </div>


  <div class="notice">
    <div class="mon-bouton-recherche">
      <%= link_to "Télecharger notice", asset_path(@creation.notice_pdf), target: :_blank %>
    </div>
  </div>

  <div>
    <% @creations.each do |creation| %>
      <% if creation.id != @creation.id %>
        <%= render 'shared/card', creation: creation %>
        <br>
      <% end %>
    <% end %>
  </div>
  <%= link_to "Back to Index", creations_path(:query_long => params[:query_long], :query_larg => params[:query_larg]) %>
</div>
