<div class="user-page-modal materiels d-none">
<%= simple_form_for(UserMateriel.new) do |f| %>
      <%= f.association :materiel %>
      <%= f.submit %>
    <% end %>
    <br>
    <ul class="list-group">
      <% current_user.user_materiels.each do |user_materiel| %>
        <li class="list-group-item">
          <h2><strong><%= user_materiel.materiel.name %></strong></h2>
          <br>
          <%= link_to "delete this materiel", user_materiel_path(user_materiel),
            method: :delete, data: { confirm: "Are you sure?" }, class: "" %>
        </li>
      <% end %>
    </ul>
    <br>
    <br>
    <div class="bouton">
      <a class="bouton-all" href="#">
        a
      </a>
    </div>
  </div>
</div>
</div>