
  <%# <%= link_to "test creations page show", creations_path%>
  <%# <%= link_to "test creations page index", creations_path(params[:id])%>
<div class="banner">
  <div class="banner-img-btn">
    <div class="banner-img">
      <%= image_tag "logo-fabricsapp", class: "logo"%>
    </div>

    <div class="banner-btn">
      <a href="/creations" class="btn-recherche">Outil de recherche</a>
    </div>
  </div>
</div>

<div class="main-container" style="padding: 10px;">

<div class="contain-home">
  <div class="present">
    <div>
      <%= image_tag "chuttes_de_tissus", class: "img-mesure", size: "374x190"%>
    </div>
    <div class="present-text">
      <p>Présentation : <br>
      Bonjour, nous sommes un groupe de quatre étudiants du Wagon Nice et ce site est notre projet de fin de formation. Nous avons pensé que de nos jours il était important de donner de la valeur à toutes les choses qui nous entourent et la valorisation de déchets en fait entièrement partie. En partant de la constatation du manque d’utilisation des chutes de tissus, nous vous proposons sur ce site de trouver aisément des idées de créations demandant peu de ressources en tissus.
      Nous vous souhaitons une agréable expérience !</p>
    </div>
  </div>

  <div class="present2">
    <div class="present img-couture">
      <%= image_tag "mesure-couture", class: "img-mesure", size: "374x190"%>
    </div>

      <%= image_tag "shema-dim.png", class: "img-mesure", size: "374x190"%>

    <div class="present img-coudre">
      <%= image_tag "machine-a-coudre", class: "img-mesure", size: "374x190"%>
    </div>
  </div>

  <div class="present3">
    <div style="height: 430px">
      <p class="present-text2">Préparez votre tissu pour une prise de mesure facile : <br>Découpez votre tissu en forme de rectangle le plus grand possible.<br>
      Mesurez la longueur et rentrez la mesure en cm dans notre barre de recherche.<br>
      Effectuez la même étape pour la largeur, le modèle de votre tissu se construit en temps réel !</p>

      <p class="present-text2">Voici apparaître des idées de création en utilisant vos chutes de tissu, la liste de matériel nécessaire pour chaque choix possible, le patron disponible en version téléchargeable, et les conseils et vidéos tutoriels pour vous accompagner !<br>
      Un jeu d’enfant !</p>

      <p class="present-text2">Un espace personnel vous permet de sauvegarder en favoris vos créations préférées !</p>
    </div>
    <div>
      <%= image_tag "couture.gif", class: "img-mesure", size: "613x430", style: "object-fit: cover" %>
    </div>
    </div>
  </div>
  <div class="present4">
  </div>
</div>



  <%# <div class="present-btn"></div>
  <div class="prensent-tag"></div> %>
